.env
*.map
*.pak
!/paks/h2amp_beam_rifle.pak
!/paks/styles.pak
!/paks/crates.pak
/tagtool/logs
/source_maps/fmod
caches/shadercache/string_ids.dat
caches/shadercache/tag_list.csv
caches/shadercache/tags.dat
